/*
Error: Undefined variable: "$desktop".
        on line 34 of /Users/Yago/Documents/apps/wb-websites/app/stylesheets/styles/trigger-sale.scss

29:     form {
30:       width: 80%;
31:       margin: 0 auto;
32:       //font-size: 1rem;
33: 
34:       @media only screen and (min-width: $desktop) {
35:         width: 450px;
36:       }
37: 
38:       input, textarea {
39:         background: white;

Backtrace:
/Users/Yago/Documents/apps/wb-websites/app/stylesheets/styles/trigger-sale.scss:34
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:543:in `block in run_interp_no_strip'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `map'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `run_interp_no_strip'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:548:in `run_interp'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:513:in `visit_media'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/rack.rb:51:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/base.rb:50:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/xss_header.rb:18:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/base.rb:50:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/base.rb:50:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/json_csrf.rb:26:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/base.rb:50:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/base.rb:50:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-protection-2.0.0/lib/rack/protection/frame_options.rb:31:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-2.0.3/lib/rack/head.rb:12:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-2.0.3/lib/rack/method_override.rb:22:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/padrino-core-0.14.1.1/lib/padrino-core/reloader/rack.rb:25:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/padrino-core-0.14.1.1/lib/padrino-core/logger.rb:485:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sinatra-2.0.0/lib/sinatra/show_exceptions.rb:22:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-2.0.3/lib/rack/session/abstract/id.rb:232:in `context'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-2.0.3/lib/rack/session/abstract/id.rb:226:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sinatra-2.0.0/lib/sinatra/base.rb:1955:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sinatra-2.0.0/lib/sinatra/base.rb:1499:in `block in call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sinatra-2.0.0/lib/sinatra/base.rb:1726:in `synchronize'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/sinatra-2.0.0/lib/sinatra/base.rb:1499:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/padrino-core-0.14.1.1/lib/padrino-core/router.rb:84:in `block in call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/padrino-core-0.14.1.1/lib/padrino-core/router.rb:75:in `each'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/padrino-core-0.14.1.1/lib/padrino-core/router.rb:75:in `call'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/rack-2.0.3/lib/rack/handler/webrick.rb:86:in `service'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/2.3.0/webrick/httpserver.rb:140:in `service'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/2.3.0/webrick/httpserver.rb:96:in `run'
/Users/Yago/.rbenv/versions/2.3.0/lib/ruby/2.3.0/webrick/server.rb:296:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$desktop\".\A         on line 34 of /Users/Yago/Documents/apps/wb-websites/app/stylesheets/styles/trigger-sale.scss\A \A 29:     form {\A 30:       width: 80%;\A 31:       margin: 0 auto;\A 32:       //font-size: 1rem;\A 33: \A 34:       @media only screen and (min-width: $desktop) {\A 35:         width: 450px;\A 36:       }\A 37: \A 38:       input, textarea {\A 39:         background: white;"; }
