@import url("https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One|Fugaz+One|PT+Sans|Passion+One|Rubik|Ubuntu|Open+Sans");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  font-size: 16px;
  background: #010a22;
  font-family: 'PT Sans', sans-serif; }

p {
  color: #808080;
  line-height: 1.9; }

input {
  font-family: "PT Sans", sans-serif; }

a {
  color: #777;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }
  a:hover {
    color: orange; }

h3 {
  text-transform: uppercase;
  font-size: 0.9em; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

ul {
  list-style-type: none;
  padding: 0; }

fieldset {
  border: 0; }

.cta-button {
  background: orange;
  padding: 10px;
  color: white;
  transition: background-color 1000ms linear; }
  .cta-button:hover {
    background-color: #ffba3a;
    transition: background-color 500ms linear; }

.content-container {
  position: relative;
  z-index: 1;
  margin: -15 15px;
  padding: 40px 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px 5px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 768px) {
    .content-container {
      margin: -15 30px;
      padding: 40px 10px; } }

#nav {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 9999;
  width: 100%;
  min-height: 65px;
  max-height: 350px;
  background: white;
  box-shadow: 0 0 10px gray;
  line-height: 50px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  #nav.visible {
    visibility: visible; }
    #nav.visible .brand {
      color: #333; }
  #nav li {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.75em;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 20px;
    padding: 2px; }
    #nav li a {
      font-weight: initial; }
  #nav .brand {
    visibility: visible;
    margin-left: 0.75em;
    text-transform: lowercase;
    font-size: 1.2em;
    color: #fff;
    font-family: "Futura";
    font-weight: lighter;
    letter-spacing: 1px; }
    #nav .brand:hover {
      color: orange; }
    #nav .brand > img {
      height: inherit; }
    @media only screen and (min-width: 768px) {
      #nav .brand {
        font-size: 1.5em; } }

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 475px;
  float: right; }
  #menu #hire-us {
    padding: 8px;
    border: 2px solid orange; }
    #menu #hire-us:hover {
      background-color: white; }

.show-menu {
  display: none;
  cursor: pointer;
  max-width: max-content;
  float: right;
  margin-top: 17px;
  margin-right: 15px; }
  .show-menu img {
    padding-top: 20px;
    height: 30px; }
  .show-menu #up {
    display: none; }

input[type=checkbox] {
  display: none; }
  input[type=checkbox]:checked ~ #menu {
    display: block;
    text-align: center; }

@media screen and (max-width: 768px) {
  #menu {
    display: none;
    float: none;
    max-width: 100%; }

  #menu li, li a {
    width: 100%; }

  .show-menu {
    display: block; } }
#thank-you {
  text-align: center;
  width: 80%;
  height: 440px;
  margin: calc(50vh - 220px) auto;
  padding: 40px 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px 5px rgba(0, 0, 0, 0.2); }
  #thank-you h1 {
    font-size: 1.5em; }

ul {
  text-align: left;
  display: block;
  max-width: 205px;
  margin: 0 auto; }
  ul li {
    padding: 0.5em 0; }
  @media only screen and (min-width: 768px) {
    ul {
      max-width: 250px; } }

a.social-link {
  font-size: 0.9em; }
  a.social-link i.fa {
    margin-right: 0.5em;
    color: orange; }
    a.social-link i.fa.fa-facebook-official {
      color: #3b5998; }

@media only screen and (min-width: 768px) {
  #thank-you h1,
  #thank-you i.fa {
    font-size: 2em; }

  a.social-link {
    font-size: 1em; } }
#value-prop .bio-card:after {
  content: "";
  display: table;
  clear: both; }

@keyframes bounce-right {
  0% {
    left: 0; }
  6.25% {
    left: 5px; }
  12.5% {
    left: 0; }
  18.75% {
    left: 5px; }
  25% {
    left: 0px; } }
@keyframes bounce-down {
  0% {
    bottom: 15px; }
  6.25% {
    bottom: 10px; }
  12.5% {
    bottom: 15px; }
  18.75% {
    bottom: 10px; }
  25% {
    bottom: 15px; } }
h1 {
  font-family: 'Rubik', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: italic; }

h2 {
  font-family: sans-serif; }

.hero {
  height: 600px;
  text-align: center;
  display: table;
  line-height: 50px; }
  .hero h1 {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    letter-spacing: 1.75px;
    font-weight: lighter; }
    @media only screen and (min-width: 768px) {
      .hero h1 {
        padding-right: 15px; } }
  .hero a {
    text-transform: uppercase;
    background-color: orange;
    color: #010a22;
    cursor: pointer;
    font-size: 0.6em;
    padding: 5px 10px;
    letter-spacing: 2px;
    box-shadow: 1px 0px 1px #e29200, 0px 1px 1px orange, 2px 1px 1px #e29200, 1px 2px 1px orange, 3px 2px 1px #e29200, 2px 3px 1px orange, 4px 3px 1px #e29200, 3px 4px 1px orange;
    transition: background-color 500ms linear; }
    .hero a:hover {
      background-color: #ffba3a;
      transition: background-color 500ms linear; }

#hook-anchor,
#stats-anchor,
#team-anchor {
  display: block;
  position: relative;
  top: -125px;
  visibility: hidden; }

#team-anchor {
  top: -50px; }

#hook {
  margin-top: 0;
  /*#first-hook-copy:after {
    @media only screen and (max-width: $desktop) {
      color: orange;
      content: "\2193";
      position: absolute;
      bottom: -20px;
      left: 45%;
      font-size: 2em;
      animation: bounce-down 3s infinite 2s;
    }
  }*/ }
  #hook .first-hook-container {
    position: relative; }
  #hook .dont-worry:after {
    position: relative;
    color: orange; }
    @media only screen and (min-width: 768px) {
      #hook .dont-worry:after {
        margin-left: 15px;
        content: "\279E";
        animation: bounce-right 3s infinite 2s; } }
  #hook .human, #hook .business {
    line-height: 30px; }
  @media only screen and (min-width: 768px) {
    #hook .human {
      width: 295px;
      word-wrap: break-word; } }
  #hook .first-hook {
    margin-top: 15px;
    overflow: visible;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #hook .first-hook {
        text-align: left; } }
  #hook .second-hook {
    margin-top: 30px; }
  #hook .business {
    display: inline; }
    @media only screen and (min-width: 768px) {
      #hook .business:before {
        content: "\a";
        white-space: pre; } }
  #hook h2 {
    margin: 0; }
  #hook .shitty-website {
    width: 80%;
    margin: 0 auto 45px auto;
    overflow: visible; }
    #hook .shitty-website img {
      width: 100%;
      height: auto;
      filter: grayscale(25%);
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 768px) {
      #hook .shitty-website:before {
        color: orange;
        content: "\2193";
        position: relative;
        font-size: 2em;
        animation: bounce-down 3s infinite 2s;
        bottom: 15px; } }
    @media only screen and (min-width: 768px) {
      #hook .shitty-website {
        float: right;
        margin: -40px 0 0 0;
        width: 50%;
        text-align: center; }
        #hook .shitty-website img {
          width: 80%; } }

#hook h2.dont-worry {
  text-align: center;
  margin-bottom: 25px; }

#hook p#first-hook-copy {
  text-align: center; }

@media only screen and (min-width: 768px) {
  #hook h2.dont-worry {
    margin: 0; }

  #first-hook-copy {
    width: 50%;
    padding-right: 15px; }

  #hook p#first-hook-copy,
  #hook h2.dont-worry {
    text-align: left; } }
#testimonials {
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://static.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg");
    filter: brightness(75%) grayscale(70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  */ }
  #testimonials .owl-nav {
    width: 80%;
    margin: 0 auto;
    opacity: 0; }
  #testimonials .owl-prev {
    left: 8.5%; }
    #testimonials .owl-prev:after {
      content: "\f104"; }
  #testimonials .owl-next {
    right: 8.5%; }
    #testimonials .owl-next:after {
      content: "\f105"; }
  #testimonials .owl-prev,
  #testimonials .owl-next {
    bottom: 50%; }
    #testimonials .owl-prev:after,
    #testimonials .owl-next:after {
      color: white;
      font-family: "FontAwesome";
      width: 28px;
      height: 28px;
      font-size: 14px; }
  #testimonials .owl-nav div {
    background: orange;
    opacity: 1;
    border-radius: 50%;
    padding: 4px 10px;
    position: absolute; }
  #testimonials .owl-carousel:hover .owl-nav {
    opacity: 1; }
  #testimonials .testimonial {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 0 10% 1%;
    background: #fff;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
    #testimonials .testimonial:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
    #testimonials .testimonial .pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.3);
      display: inline-block;
      margin-top: -50px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); }
      #testimonials .testimonial .pic img {
        width: 100%;
        height: auto; }
    #testimonials .testimonial .description {
      font-style: italic;
      color: #808080;
      line-height: 1.9em; }
      #testimonials .testimonial .description:before, #testimonials .testimonial .description:after {
        content: "\"";
        font-size: 2em;
        margin: 0 0.2em;
        color: orange;
        font-weight: bold;
        line-height: 0; }
    #testimonials .testimonial .testimonial-title {
      font-size: 0.9em;
      font-weight: bold;
      margin: 0;
      color: #333;
      text-transform: uppercase;
      font-family: 'Fugaz One', cursive; }
    #testimonials .testimonial .post {
      display: block;
      font-size: 0.82em;
      color: #777;
      margin-bottom: 15px;
      text-transform: capitalize;
      font-style: italic; }
    #testimonials .testimonial .post:before {
      content: "";
      width: 30px;
      display: block;
      margin: 10px auto;
      border: 1px solid #d3d3d3; }

#value-prop {
  background-color: white;
  text-align: center;
  padding: 2em 0;
  /*
  .bio-position {
    color: $copy;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-weight: lighter;

    &:before {
      content: " - ";
    }
  }
  */ }
  #value-prop h3 {
    font-size: 1.3em;
    margin: 0;
    text-transform: capitalize; }
  #value-prop p {
    margin: 0.3em 0; }
  #value-prop img {
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  #value-prop .bio-card {
    max-width: 725px;
    margin: 0 auto;
    padding: 2em 15px; }
    #value-prop .bio-card .row {
      overflow: visible; }
    @media only screen and (min-width: 768px) {
      #value-prop .bio-card {
        padding: 3em 0; } }
  #value-prop .bio-image {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      #value-prop .bio-image img {
        max-width: 100%; } }
  #value-prop .bio-content {
    margin-top: 2.5em;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      #value-prop .bio-content {
        padding-left: 1em;
        margin-top: 0;
        text-align: left; } }
  #value-prop .bio-name:after {
    text-transform: lowercase;
    color: #b5b5b5;
    letter-spacing: 0;
    font-weight: 500; }
  #value-prop .bio-name.chris:after {
    content: " founder"; }
  #value-prop .bio-name.dylan:after {
    content: " designer"; }

#statistics {
  text-align: center; }
  #statistics .percentage {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.7); }
    #statistics .percentage i {
      margin: 0 5px; }
      #statistics .percentage i.faded {
        color: rgba(0, 0, 0, 0.4); }
    @media only screen and (min-width: 768px) {
      #statistics .percentage {
        font-size: 3em; } }

#trigger-sale {
  background: orange;
  min-height: 600px;
  padding: 50px 0;
  width: 100%; }
  #trigger-sale h2 {
    font-size: 2.75rem; }
  #trigger-sale a {
    background: orange;
    color: white;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 15px 2.5px rgba(0, 0, 0, 0.12), 0 4px 5px 2.5px rgba(0, 0, 0, 0.2); }
    #trigger-sale a:hover {
      color: orange;
      background: white; }
  #trigger-sale #contact-form {
    text-align: center; }
    #trigger-sale #contact-form form {
      width: 80%;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) {
        #trigger-sale #contact-form form {
          width: 450px; } }
      #trigger-sale #contact-form form input, #trigger-sale #contact-form form textarea {
        background: white;
        box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 15px 2.5px rgba(0, 0, 0, 0.12), 0 4px 5px 2.5px rgba(0, 0, 0, 0.2);
        letter-spacing: 0.05em;
        width: 100%;
        padding: 20px;
        border: 0;
        outline: 0;
        box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 15px 2.5px rgba(0, 0, 0, 0.12), 0 4px 5px 2.5px rgba(0, 0, 0, 0.2); }
      #trigger-sale #contact-form form input[type="submit"] {
        cursor: pointer;
        text-align: center;
        background: orange;
        color: white;
        font-weight: bold;
        box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 15px 2.5px rgba(0, 0, 0, 0.12), 0 4px 5px 2.5px rgba(0, 0, 0, 0.2); }
      #trigger-sale #contact-form form textarea {
        resize: vertical;
        min-height: 275px;
        line-height: 1.4; }
  #trigger-sale #convert {
    font-size: 1.3em; }
  #trigger-sale #call-to-action {
    width: 100%;
    text-align: center;
    padding-top: 135px; }
  #trigger-sale #call-to-action,
  #trigger-sale #contact-form {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -9999px;
    bottom: 0; }
    #trigger-sale #call-to-action.fade-in,
    #trigger-sale #contact-form.fade-in {
      visibility: visible;
      opacity: 1;
      position: static; }
  #trigger-sale #contact-form {
    transition: opacity 1s linear; }

footer {
  color: #777;
  width: 100%;
  height: 100px;
  text-align: center;
  background: #333;
  font-family: sans-serif; }
  footer nav {
    padding-top: 30px; }
  footer a {
    margin: 0 0.5em; }
  footer #copyright {
    font-size: 0.5em; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.vert-align {
  display: table-cell;
  vertical-align: middle; }

/*** GRID ***/
[class*="col-"] {
  float: left;
  padding: 15px; }

[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-p5 {
    width: 4.16%; }

  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
.row {
  width: 100%;
  clear: both;
  overflow: hidden; }

/*
.row::after {
  content: "";
  clear: "both";
  display: "table";
}
*/

/*# sourceMappingURL=application.css.map */
