// DON'T FUCKING FORGET!!!!!
// ADD FUCKING VENDOR PREFIXES U BITCH
// INCLUDE CAROUSEL CDN


@import url("https://fonts.googleapis.com/css?family=Rubik|Ubuntu|PT+Sans|Fugaz+One");

@import "normalize.min";
@import "variables";
@import "animations";
@import "styles/nav";
@import "styles/hero";
@import "styles/hook";
@import "styles/testimonials";
@import "styles/team";
@import "styles/statistics";
@import "styles/trigger-sale";
@import "styles/thank_you";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-size: 16px;
  background: $stacey-blue;
  font-family: 'PT Sans', sans-serif;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

h1 {
  font-family: 'Rubik', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: italic;
}

h2 {
  font-family: sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: $sub-heading;
}

h1,h2,h3,h4,h5,h6 {
  color: $header;
}

p {
  color: $copy;
  line-height: 1.9;
}

a {
  color: $light-gray;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: orange;
  }
}
  
ul {
  list-style-type: none;
  padding: 0;
}

input {
  font-family: "PT Sans", sans-serif;
}

fieldset {
  border: 0;
}
  


// Reusable styles
.cta-button {
  background: orange;
  padding: 10px;
  color: white;
  transition: background-color 1000ms linear;
    
  &:hover {
    background-color: #ffba3a;
    transition: background-color 500ms linear;
  }
}

.content-container {
  position: relative;
  z-index: 1;
  margin: -15 15px;
  padding: 40px 20px;
  max-width: 1200px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 5px rgba(0,0,0,0.2);

  @media only screen and (min-width: $desktop) {
    margin: -15px 30px;
    padding: 40px 10px;
  }

  @media only screen and (min-width: 1260px) {
    margin: -15px auto;
  }
}

#hook-anchor,
#stats-anchor,
#team-anchor {
  display: block;
  position: relative;
  top: -125px;
  visibility: hidden;
}

#team-anchor {
  top: -50px;
}

footer {
  color: rgba(1, 10, 34, 0.28);
  width: 100%;
  text-align: center;
  background: orange;
  font-family: sans-serif;
  padding: 20px 0;
  font-size: 0.7em;
}


// Boilerplate styling shit
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.vert-align {
  display: table-cell;
  vertical-align: middle;
}

/*** GRID ***/
[class*="col-"] {
  float: left;
  padding: 15px;
  //border: 1px solid red;
}

[class*="col-"] { // Mobile
  width: 100%;
}

@media only screen and (min-width: $tablet) { // Tablet
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: $desktop) { // Desktop
  .col-p5 {width: 4.16%}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row {
  width: 100%;
  clear: both;
  overflow: hidden;
}

/*
.row::after {
  content: "";
  clear: "both";
  display: "table";
}
*/
