// DON'T FUCKING FORGET!!!!!
// ADD FUCKING VENDOR PREFIXES U BITCH
// INCLUDE CAROUSEL CDN

@import "variables";
@import "global";
@import "nav";
@import "thank_you";

$copy: #808080;

@keyframes bounce-right {
  0% {
    left: 0;
  }
  
  6.25% {
    left: 5px;
  }
  
  12.5% {
    left: 0;
  }
  
  18.75% {
    left: 5px;
  }
  
  25% {
    left: 0px;
  }
}

// FIX DIS SHIT
.hero {
  height: 600px;
  text-align: center;
  display: table;
  line-height: 50px;
  
  h1 {
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 1.75px;
    font-weight: lighter;

    @media only screen and (min-width: $desktop) {
      padding-right: 15px;
    }
  }
  
  a {
    text-transform: uppercase;
    background-color: orange;
    color: $stacey-blue;
    cursor: pointer;
    font-size: 0.6em;
    padding: 5px 10px;
    letter-spacing: 2px;
    //box-shadow: 1px 0px 1px $shaded-orange, 0px 1px 1px orange, 2px 1px 1px $shaded-orange, 1px 2px 1px orange, 3px 2px 1px $shaded-orange, 2px 3px 1px orange, 4px 3px 1px $shaded-orange, 3px 4px 1px orange, 5px 4px 1px $shaded-orange, 4px 5px 1px orange, 6px 5px 1px $shaded-orange;
    box-shadow: 1px 0px 1px $shaded-orange, 0px 1px 1px orange, 2px 1px 1px $shaded-orange, 1px 2px 1px orange, 3px 2px 1px $shaded-orange, 2px 3px 1px orange, 4px 3px 1px $shaded-orange, 3px 4px 1px orange;
    transition: background-color 500ms linear;
    
    &:hover {
      background-color: #ffba3a;
      transition: background-color 500ms linear;
    }
  }
  
  @media only screen and (min-width: 600px) {
    text-align: right; // MOBILE FIRST BITCH
  }
}

#hook {
  margin-top: 0;
  
  // FIX SMALLER WIDTH VIEW BUG... DONT GO TO NEWLINE
  .dont-worry:after {
    position: relative;
    content: "\279E";
    color: orange;
    margin-left: 15px;
    animation: bounce-right 3s infinite 2s;
  }
  
  .human, .business {
    line-height: 30px;
  }
  
  .human {
    @media only screen and (min-width: $desktop) {
      width: 295px;
      word-wrap: break-word;
    }
  }
  
  .first-hook {
    margin-top: 15px;
  }
  .second-hook {
    // try box shadow on this bitch
    margin-top: 30px;
  }
  
  
  .business {
    display: inline;
    
    &:before {
      // FIX THIS BUG U BEEZYYYYYYYY
      @media only screen and (min-width: $desktop) {
        content: "\a";
        white-space: pre;
      }
    }
  }
  
  h2 {
    margin: 0;
  }
  
  .shitty-website {
    padding: 0 40px;
    
    img {
      filter: grayscale(25%);
      box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2); 
      margin-bottom: 30px;
    }
  }
}









#testimonials {
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://static.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg");
    filter: brightness(75%) grayscale(70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content {
    position: relative;
    z-index: 3;
  }
  
  .testimonial {
    text-align: center;
    margin: 50px 10px 0;
    padding: 0 10% 1%;
    background: #fff;
    
    .pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid rgba(255,255,255,0.3);
      display: inline-block;
      margin-top: -50px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      
      img {
        width: 100%;
        height: auto;
      }
    }
    
    .description {
      font-style: italic;
      color: $copy;
      line-height: 1.9em;
      
      &:before, &:after {
        content: "\"";
        font-size: 2em;
        margin: 0 0.2em;
        color: orange;
        font-weight: bold;
        line-height: 0;
      }
    }
    
    .testimonial-title {
      font-size: $sub-heading;
      font-weight: bold;
      margin: 0;
      color: $dark-gray;
      text-transform: uppercase;
    }
    
    .post {
      display: block;
      font-size: $sub-heading - 0.08em;
      color: $light-gray;
      margin-bottom: 15px;
      text-transform: capitalize;
    }
    
    .post:before {
      content: "";
      width: 30px;
      display: block;
      margin: 10px auto;
      border: 1px solid #d3d3d3;
    }
  }
  
}


#value-prop {
  background-color: white;
  text-align: center;
  padding: 2em 0;
  
  h3 {
    font-size: 1.3em;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 0.1em;
  }

  p {
    margin: 0.3em 0;
  }

  img {
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2); 
  }

  .bio-card .row {
    overflow: visible;
  }

  .bio-image {
    padding: 0;
  }

  .bio-content {
    padding: 0 0 0 1em;
    text-align: left;
  }

  .bio-position {
    color: $copy;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-weight: lighter;

    &:before {
      content: " - ";
    }
  }
}



#statistics {
  text-align: center;

  .percentage {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.7);

    i {
      margin: 0 5px;

      &.faded {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}




#trigger-sale {
  background: orange;
  //padding: 200px 0 250px;
  height: 600px;
  width: 100%;
  text-align: center;
  display: table;
  //font-size: $all-caps;
  
  h2 {
    font-size: 2.75rem;
  }
  
  a {
    background: orange; 
    color: white;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 8px 12px 1px rgba(0,0,0,0.14), 0 3px 15px 2.5px rgba(0,0,0,0.12), 0 4px 5px 2.5px rgba(0,0,0,0.2);
    
    &:hover {
      color: orange;
      background: white;
    }
  }

  #contact-form {
    text-align: center;

    form {
      width: 300px;
      margin: 0 auto;
      //font-size: 1rem;

      input, textarea {
        background: white;
        box-shadow: 0 8px 12px 1px rgba(0,0,0,0.14), 0 3px 15px 2.5px rgba(0,0,0,0.12), 0 4px 5px 2.5px rgba(0,0,0,0.2);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        width: 100%;
        padding: 20px;
        border: 0;
        outline: 0;
        box-shadow: 0 8px 12px 1px rgba(0,0,0,0.14), 0 3px 15px 2.5px rgba(0,0,0,0.12), 0 4px 5px 2.5px rgba(0,0,0,0.2);

        @media only screen and (min-width: $desktop) {
          font-size: 0.75em;
        }
      }

      input[type="submit"] {
        cursor: pointer;
        text-align: center;
        background: orange;
        color: white;
        font-weight: bold;
        box-shadow: 0 8px 12px 1px rgba(0,0,0,0.14), 0 3px 15px 2.5px rgba(0,0,0,0.12), 0 4px 5px 2.5px rgba(0,0,0,0.2);
      }

      textarea {
        resize: vertical;
        min-height: 150px;
        line-height: 1.8;
      }
    }
  }

  #call-to-action,
  #contact-form {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -9999px;

    &.fade-in {
      visibility: visible;
      opacity: 1;
      position: static;
    }
  }

  #contact-form {
    transition: opacity 1s linear;
  }
}


footer {
  color: $light-gray;
  width: 100%;
  height: 100px;
  text-align: center;
  background: #333;
  
  ul {
    overflow: hidden;
    width: 155px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    
    li {
      float: right;
      padding: 0 5px;
      
      a {
        color: $light-gray;
      }
    }
  }
  
  #copyright {
    font-size: 0.5em;
  }
}


// Boilerplate styling shit
* {
  box-sizing: border-box;
}

a {
  //text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.vert-align {
  display: table-cell;
  vertical-align: middle;
}

/*** GRID ***/
[class*="col-"] {
  float: left;
  padding: 15px;
  //border: 1px solid red;
}

[class*="col-"] { // Mobile
  width: 100%;
}

@media only screen and (min-width: 600px) { // Tablet
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: $desktop) { // Desktop
  .col-p5 {width: 4.16%}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row {
  width: 100%;
  clear: both;
  overflow: hidden;
}

/*
.row::after {
  content: "";
  clear: "both";
  display: "table";
}
*/
