#nav {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 9999;
  width: 100%;
  min-height: 65px;
  max-height: 350px;
  background: white;
  box-shadow: 0 0 10px gray;
  line-height: 50px;
  box-shadow: 0 10px 20px -12px rgba(0,0,0,0.42), 0 3px 20px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);

  &.visible {
    visibility: visible;

    .brand {
      color: #333;
    }
  }

  $nav-spacing: 20px;

  li {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.75em;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: $nav-spacing;
    padding: 2px;

    a {
      font-weight: initial;
    }
  }

  .brand {
    visibility: visible;
    margin-left: 0.75em;
    text-transform: lowercase;
    font-size: 1.2em;
    color: #fff;
    font-family: "Futura";
    font-weight: lighter;
    letter-spacing: 1px;

    &:hover {
      color: orange;
    }

    > img {
      height: inherit;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.5em;
    }
  }
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: max-content;
  float: right;

  #hire-us {
    padding: 8px;
    border: 2px solid orange;

    &:hover {
      background-color: white;
    }
  }
}

.show-menu {
  display: none;
  cursor: pointer;
  max-width: max-content;
  float: right;
  margin-top: 17px;
  margin-right: 15px;

  img {
    padding-top: 20px;
    height: 30px;
  }

  #up {
    display: none;
  }
}

input[type=checkbox] {
  display: none;

  &:checked ~ #menu {
    display: block;
    text-align: center;
  }
}

// DO MOBILE FIRST U BEEZY
@media screen and (max-width: $desktop) {
  #menu {
    display: none;
    float: none;
    max-width: 100%;
  }

  #menu li, li a {
    width: 100%;
  }

  .show-menu {
    display: block;
  }
}
