$copy: #808080;
$stacey-blue: #010a22;

#thank-you {
  text-align: center;
  width: 80%;
  height: 440px;
  margin: calc(50vh - 220px) auto;
  padding: 40px 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 5px rgba(0,0,0,0.2);

  h1 {
    font-size: 1.5em;
  }
}

p {
  $copy: #808080;
}

ul {
  text-align: left;
  display: block;
  max-width: 205px;
  margin: 0 auto;

  li {
    padding: 0.5em 0;
  }

  @media only screen and (min-width: $desktop) {
    max-width: 250px;
  }
}

a.social-link {
  font-size: 0.9em;

  i.fa {
    margin-right: 0.5em;
    color: orange;

    &.fa-facebook-official {
      color: #3b5998;
    }
  }
}

@media only screen and (min-width: $desktop) {
  #thank-you h1,
  #thank-you i.fa {
    font-size: 2em;
  }
  a.social-link {
    font-size: 1em;
  }

  i.fa {
    //font-size: 2em;
  }
}
