$stacey-blue: #010a22;
$stacey-light: #04288a;
$dark-gray: #333;
$shaded-orange: #e29200;
$header: #333;
$copy: #808080;
$light-gray: #777;

$sub-heading: 0.9em;
$all-caps: 0.75em;
$letter-space: 0.17em;

$desktop: 768px;
