#hook {
  margin-top: 0;

  .first-hook-container {
    position: relative;
  }
  
  .dont-worry {
    text-align: center;
    margin-bottom: 25px;

    &:after {
      position: relative;
      color: orange;
    }
  }

  .first-hook {
    margin-top: 15px;
    text-align: center;
    
    p {
      text-align: center;
    }
  }

  .second-hook {
    margin-top: 30px;
  }
  
  h2 {
    margin: 0;
  }
  
  .shitty-website {
    width: 80%;
    margin: 0 auto 30px auto;
    overflow: visible;
    
    img {
      width: 100%;
      height: auto;
      filter: grayscale(25%);
      box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2); 
    }

    &:before {
      display: block;
      color: orange;
      content: "\2193";
      position: relative;
      font-size: 2em;
      animation: bounce-down 3s infinite 2s;
      bottom: 15px;
    }
  }

  @media only screen and (min-width: $desktop) {
    .dont-worry {
      text-align: left;
      margin: 0;

      &:after {
        margin-left: 15px;
        content: "\279E";
        animation: bounce-right 3s infinite 2s;
      }
    }

    .shitty-website {
      float: right;
      margin-top: -45px;
      width: 50%;
      text-align: center;

      img {
        width: 80%;
      }

      &:before {
        display: none;
      }
    }

    .first-hook {
      text-align: left;
      
      p {
        text-align: left;
        width: 50%;
        padding-right: 15px;
      }
    }
  }
}
